<div id = "carousel-body">
    <div class = "carousel">
        <div class = "card">
            <img src = "/img/placeholder.jpg"/>
        </div>
        <div class = "card">
            <img src = "/img/placeholder.jpg"/>
        </div>
        <div class = "card">
            <img src = "/img/placeholder.jpg"/>
        </div>
        <div class = "card">
            <img src = "/img/placeholder.jpg"/>
        </div>

        <button id = "btn next">></button>
        <button id = "btn prev"><</button>
    </div>
</div>