<!-- <div id="uin-one-third-row">
    <div>
        <img src="/img/placeholder.jpg" width="100" height="100"
            style="object-fit:cover;border-radius:10px;">
    </div>
    <div>
        <p class="font-white" id="title">Gigachad</p>
        <p class="font-white">Potter ipsum wand elf parchment wingardium.
            Wand betrayal parseltongue soul detention elf lion back his.
        </p>
    </div>
    <div>
        <button>
            <img src="/img/heart.png">
        </button>
    </div>
</div> -->
<div id="uin-one-third-row">
    <div class="card" style="width: 18rem;">
        <img src="/img/placeholder.jpg" width="70" height="80"
        style="object-fit:cover;border-radius:10px;padding-top:1px;">
    <div class="card-body">
      <h5 class="font-black">Card title</h5>
      <p class="font-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="buttoncard">Go somewhere</a>
    </div>
  </div>
</div>