<div id="uin-one-third-column">
    <div class="card">
        <img src="/img/placeholder.jpg">
    </div>
    <div class="card-body">
      <h5 class="font-black">ILOILO CITY</h5>
      <h5p class="font-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="buttoncard">Go somewhere</a>
    </div>
</div>