<label for="username" class="font-black" id="content">Username:</label><br>
<input type="text" id="username" name="username" required><br>
<label for="password" class="font-black" id="content">Password:</label><br>
<input type="password" id="password" name="password" required><br>
<!--pattern attribute for at least one special character in password-->
<span class="font-white" id="error">
    <% if (messages.error){ %>
        <%= messages.error%>
            <% } %>
</span>
<div class="center">
    <input type="submit" id="form-button" value="Login" />
    <!--<input type="submit" id="form-button" value="Forgot password?" />-->
    <a href="/register" id="form-link">Register</a>

</div>