<label for="username" class="font-peach" id="content">Username:</label><br>
<input type="text" id="username" name="username" required><br>
<label for="password" class="font-peach" id="content">Password:</label><br>
<input type="password" id="password" name="password" required><br>
<!--pattern attribute for at least one special character in password-->
<div class="center-buttons">
    <input type="submit" id="form-button" value="Login" />
    <input type="submit" id="form-button" value="Forgot password?" />
    <a href="/register">Register</a>
</div>