<label for="username" class="font-peach" id="content">Username:</label><br>
<input type="text" id="username" name="username" required><br>
<!-- REMOVED EMAIL FIELD-->
<label for="password" class="font-peach" id="content">Password:</label><br>
<input type="password" id="password" name="password" required><br>
<label for="repassword" class="font-peach" id="content">Confirm Password:</label><br>
<input type="password" id="repassword" name="repassword" required><br>

<!--pattern attribute for at least one special character in password-->
<div class="center-buttons">
    <span class="font-white" id="small">
        <% if (messages.error){ %>
            <%= messages.error%>
        <% } %>
    </span>
    <input type="submit" id="form-button" value="Sign up" />
    <!-- <input type="submit" id="form-button" value="Forgot password?" /> -->
    <a href="/login" id="form-button">Login</a>
</div>