<nav class="side-nav-bar" style="vertical-align: middle">
    <li class="side-child"><a>
        <a href="">
            <div>
                <img src="/img/places-and-landmarks.png">
                <p>PLACES & LANDMARKS</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="">
            <div>
                <img src="/img/culture-and-festivals.png">
                <p>CULTURE & FESTIVALS</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="">
            <div>
                <img src="/img/food.png">
                <p>FOOD</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="">
            <div>
                <img src="/img/accommodation.png">
                <p>ACCOMMODATION</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="">
            <div>
                <img src="/img/traffic.png">
                <p>TRAFFIC</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="">
            <div>
                <img src="/img/settings.png">
                <p>SETTINGS</p>
            </div>
        </a>
    </li>
</nav>