<nav class="side-nav-bar">
    <li class="side-child"><a href="#home">PLACES & LANDMARKS</a></li>
    <li class="side-child"><a href="#news">CULTURE & FESTIVALS</a></li>
    <li class="side-child"><a href="#contact">FOOD</a></li>
    <li class="side-child"><a href="#about">ACCOMMODATION</a></li>
    <li class="side-child"><a href="#about">TRAFFIC</a></li>
    <li class="side-child"><a href="#about">SETTINGS</a></li>
</nav>