<nav id="side-nav-bar">
    <!--button for side navigation bar-->
    <li class="side-child">
        <a href="/places-and-landmarks">
            <div>
                <img src="/img/places-and-landmarks.png">
                <p>PLACES & LANDMARKS</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="/culture-and-festivals">
            <div>
                <img src="/img/culture-and-festivals.png">
                <p>CULTURE & FESTIVALS</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="/food">
            <div>
                <img src="/img/food.png">
                <p>FOOD</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="/accommodation">
            <div>
                <img src="/img/accommodation.png">
                <!--Accomm. is short for Accommodation-->
                <p>ACCOMM.</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <a href="/traffic">
            <div>
                <img src="/img/traffic.png">
                <p>TRAFFIC</p>
            </div>
        </a>
    </li>

    <li class="side-child">
        <!-- IF USER IS LOGGED IN (EXCEPT GUEST MODE)-->
        <!-- 1 in if condition is a dummy baka -->
        <% if (!(username === 'Guest')) { %>
            <a href="/logout">
                <div>
                    <img src="/img/logout.png">
                    <p>LOGOUT</p>
                </div>
            </a>
        <!-- IF USER IS LOGGED OUT (INCLUDING GUEST MODE HERE ALWAYS)-->
        <% } else { %>
            <a href="/login">
                <div>
                    <img src="/img/login.png">
                    <p>LOGIN</p>
                </div>
            </a>
        <% } %>

        
    </li>
</nav>