<nav class="side-nav-bar">
    <ul class="">
        <button>PLACES & LANDMARKS</button>
        <button>CULTURE & FESTIVALS</button>
        <button>FOOD</button>
        <button>ACCOMMODATION</button>
        <button>TRAFFIC</button>
        <button>SETTINGS</button>
    </ul>
</nav>