<nav class="top-nav-bar">
    <!--button for side navigation bar-->
    <button>POG</button>

    <!--top navigation bar elements-->
    <a class="" href="views/pages/home">LAGAW</a>
    <ul class="">

        <!--search bar-->
        <form>
            <input type="search" id="query" placeholder="Search..">
            <button>Search</button>
        </form>
        
        <!--put light/dark mode button here-->
        <ul>
            <p>Welcome to</p><p>Iloilo City!</p>
        </ul>
        <!--put clickable user profile picture here-->
    </ul>
</nav>