<ul id="top-nav-bar">
    <!--left-side group-->
    <li class="top-child" id="menu-child">
        <!--button for side navigation bar-->
        <div id="menu">
            <button onclick="showHide()">
                <img id="menu-btn" src="/img/side-nav-bar-button.png">
            </button>
        </div>
        <!--home link-->
        <div id="home">
            <a id="home-btn" href="/">LAGAW</a>
        </div>
        <div id="menu-space">
        </div>
    </li>

    <!--center-side group-->
    <li class="top-child" id="search-child">
        <!--search bar-->
        <div id="search-bar">
            <form id="search-bar-form" action="/search">
                <input id="search-bar-input" type="search" id="query" name="query" placeholder="Search..">
                <button id="search-bar-button"><img src="/img/search.png"></button>
            </form>
        </div>
    </li>

    <!--right-side group-->
    <li class="top-child" id="user-child">
        <!--light/dark mode-->
        <div id="mode">
            <button id="color-theme" onclick="lightDarkMode()">
                <img src="/img/light.png" id="theme-icon">
            </button>
        </div>
        <!--greeting-->
        <div id="greeting">
            <% if (username != 'Guest') { %>
            <a href="/user">
                <p class="font-white" id="top">Hi, <%= username %>!</p>
                <p class="font-white" id="bottom">Welcome to <span class="font-peach">Iloilo City!</span></p>
            </a>
            <% } else { %>
                <p class="font-white" id="top">Hi, Guest!</p>
                <p class="font-white" id="bottom">Welcome to <span class="font-peach">Iloilo City!</span></p>
            <% } %>
        </div>
    </li>
</ul>
