<ul class="top-nav-bar">
    <!--button for side navigation bar-->
    <li class="top-child">
        <button>
            <img class="menu-btn" src="/img/side-nav-bar-button.png">
        </button>
    </li>
        
    <!--top navigation bar elements-->
    <li class="top-child"><a class="home" href="/home">LAGAW</a></li>
        
    
    <!--search bar-->
    <li class="top-child">
        <form>
            <input class="search-bar" type="search" id="query" placeholder="Search..">
            <button class="search-bar-button"><img src="/img/search.png"></button>
        </form>
    </li>
            
    
    <li class="top-child">
        <button class="mode">
            <img src="/img/mode.png">
        </button>
    </li>
    

    <li class="top-child">
        <p class="font-white">Hi, User!</p>
    </li>
    
    <li class="top-child">
        <p class="font-white">Welcome to</p>
    </li>
    
    <li class="top-child">
        <p class="font-peach">Iloilo City!</p>
    </li>

    <li class="top-child">
        <a href="/user"><img class="user-picture" src="/img/placeholder.jpg" alt="User picture"></a>
    </li>
</ul>