<ul id="top-nav-bar">
    <li class="top-child">
        <!--button for side navigation bar-->
        <div id="menu">
            <button onclick="showHide()">
                <img id="menu-btn" src="/img/side-nav-bar-button.png">
            </button>
        </div>
        <!--home link-->
        <div id="home">
            <a id="home-btn" href="/home">LAGAW</a>
        </div>
    </li>
    
    <!--search bar-->
    <li class="top-child" id="search-bar">
        <form id="search-bar-form">
            <input id="search-bar-input" type="search" id="query" placeholder="Search..">
            <button id="search-bar-button"><img src="/img/search.png"></button>
        </form>
    </li>
            
    <!--right-side group-->
    <li class="top-child" >
        <!--light/dark mode-->
        <div id="mode">
            <button id="light" onclick="lightDarkMode()">
                <img src="/img/light.png">
            </button>
            <button id="dark" onclick="lightDarkMode()">
                <img src="/img/dark.png">
            </button>
        </div>
        <!--greeting-->
        <div id="greeting">
            <p class="font-white">Hi, User!</p>
            <p class="font-white">Welcome to <span class="font-peach">Iloilo City!</span></p>
        </div>
        <!--user-->
        <div id="user">
            <a href="/user"><img id="user-picture" src="/img/placeholder.jpg" alt="User picture"></a>
        </div>
    </li>
</ul>