<ul id="top-nav-bar">
    <!--left-side group-->
    <li class="top-child">
        <!--button for side navigation bar-->
        <div id="menu">
            <button onclick="showHide()">
                <img id="menu-btn" src="/img/side-nav-bar-button.png">
            </button>
        </div>
        <!--home link-->
        <div id="home">
            <a id="home-btn" href="/">LAGAW</a>
        </div>
    </li>

    <!--center-side group-->
    <li class="top-child">
        <!--search bar-->
        <!-- <div id="search-bar"> -->
            <!-- <form id="search-bar-form"> -->
                <!-- <input id="search-bar-input" type="search" id="query" placeholder="Search.."> -->
                <!-- <button id="search-bar-button"><img src="/img/search.png"></button> -->
            <!-- </form> -->
        <!-- </div> -->
        
    </li>

    <!--right-side group-->
    <li class="top-child">
        <!--light/dark mode-->
        <div id="mode">
            <button id="color-theme" onclick="lightDarkMode()">
                <img src="/img/light.png" id="theme-icon">
            </button>
        </div>
        <!--greeting-->
        <div id="greeting">
            <a href="/user">
                <p class="font-white" id="top">Hi, <%= username %>!</p>
                <p class="font-white" id="bottom">Welcome to <span class="font-peach">Iloilo City!</span></p>
            </a>
            
        </div>
        <!--user-->
        <!-- <% if (username != 'Guest') { %> -->
            <!--IF USER ACCOUNT-->
            <!-- <div id="user"> -->
                <!--src="/img/user-image.jpg"-->
                <!-- <a href="/user"><img id="user-picture" alt="User picture"></a> -->
            <!-- </div> -->
        <!-- <% } else { %> -->
            <!--IF GUEST ACCOUNT-->
            <!-- <div id="user"> -->
                <!-- <a href="/user"><img id="user-picture" src="/img/placeholder.jpg" alt="User picture"></a> -->
            <!-- </div> -->
        <!-- <% } %> -->
    </li>
</ul>