<label for="username">Username:</label><br>
<input type="text" id="username" name="username" minlength="8" maxlength="100"><br>
<label for="email">Email:</label><br>
<input type="email" id="email" name="email"><br>
<label for="email">Password:</label><br>
<input type="password" id="email" name="email" minlength="8" maxlength="100"><br>
<!--pattern attribute for at least one special character in password-->
<input type="submit" value="Forgot password?" />