<label for="username" class="font-peach" id="content">Username:</label><br>
<input type="text" id="username" name="username" minlength="8" maxlength="100"><br>
<label for="email" class="font-peach" id="content">Email:</label><br>
<input type="email" id="email" name="email"><br>
<label for="password" class="font-peach" id="content">Password:</label><br>
<input type="password" id="password" name="password" minlength="8" maxlength="100"><br>
<!--pattern attribute for at least one special character in password-->
<div class="center-buttons">
    <input type="submit" id="form-button" value="Sign up" />
    <input type="submit" id="form-button" value="Forgot password?" />
</div>