li{
    border: 1px solid black;
}

/*body{
    Inverts the color
    filter: invert(1);
}*/

/* TOP NAVIGATION BAR */

.top-nav-bar {
    box-sizing: border-box;
    
    position: -webkit-sticky;
    position: sticky;

    top: 0;

    width: 1520px;
    height: 94px;

    background: #1B1B1B;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.top-child{
    display: inline-block;
    vertical-align: middle;
}

.font-white{


    height: 20px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #EAF4FE;
}

.font-peach{

    height: 20px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #FDC28B;

}


.menu-btn {
    width: 40px;
    height: 30px;

    background-color: transparent;
}

.mode {
    width: 64px;
    height: 64px;
}

.user-picture {
    width: 285px;
    height: 61px;
}

.home {
    width: 191px;
    height: 69px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    display: flex;
    align-items: center;

    color: #FDC28B;
}

.search-bar{
    width: 600px;
    height: 49px;
    border-radius: 25px 0px 0px 25px;
}

.search-bar-button{
    border-radius: 0px 25px 25px 0px;
}



/* SIDE NAVIGATION BAR */

.side-nav-bar{
    position: absolute;
    width: 85px;
    height: 1080px;

    background: #1B1B1B;
}


.side-child{
    display: inline-block;
    vertical-align: middle;
    font-size: small;
}

/* Traffic 


position: absolute;
width: 69.06px;
height: 64.35px;



/* Accommodation 


position: absolute;
width: 76px;
height: 54px;



/* Food 


position: absolute;
width: 40px;
height: 51px;



/* Culture & Festivals 


position: absolute;
width: 56px;
height: 67px;



/* Places & Landmarks 


position: absolute;
width: 56px;
height: 73px;



/* Settings 


position: absolute;
width: 69.06px;
height: 68.4px;

*/