/* MAINTENANCE ELEMENTS */

/* *{
    border: 1px solid black;
} */


/* UNIVERSAL ELEMENTS */

a,
li {
    text-decoration: none;
}

body {
    margin: 0px;
    /*
    Inverts the color
    filter: invert(1);
    */
}


/* TOP NAVIGATION BAR */

#top-nav-bar {
    min-width: 460px;
    background: #1B1B1B;
    border-radius: 0px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    position: sticky;
    width: 100%;
    top: 0;

    z-index: 1;
}

@media (max-width: 880px) {
    #top-nav-bar {
        justify-content: center;
    }

    .top-child {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #side-nav-bar {
        /*height: idk pa huhu need mag santo sa dalom sng top-nav-bar;*/
    }

    .side-child a div p {
        visibility: hidden;
    }
}

.top-child {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
}

#menu-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#home {
    display: flex;
    align-items: center;
}

#home-btn {

    width: 112px;
    height: 100%;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #b57e07;
}

#search-bar {
    display: flex;
}

#search-bar-form {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
}

#search-bar-input {
    width: 100%;
    height: 30px;
    border-radius: 12px 0px 0px 12px;
    border: 0;
}

#search-bar-button {
    display: flex;
    border-radius: 0px 12px 12px 0px;
    height: 30px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#search-bar-button>img {
    height: 15px;
    width: 15px;
}

input[type=search] {
    padding: 0 15px;
    font-size: 13px;
    margin-bottom: 0px;
}

#mode {
    display: flex;
    align-items: center;
}

#color-theme {
    width: 45px;
    height: 45px;
    visibility: visible;
}

#greeting {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#greeting>#top {
    font-weight: 800;
    font-size: 18px;
    color: white
}

#user-picture {

    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;

}

.font-white {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

#greeting>.font-white {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
}

.font-peach {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #b57e07;
}

#greeting>.font-peach {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
}




/* SIDE NAVIGATION BAR */

#side-nav-bar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 25px;
    position: fixed;
    width: 85px;
    height: 100%;
    visibility: hidden;
    background: #1B1B1B;
}


.side-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

.side-child a div p {
    font-family: sans-serif;
    font-style: Arial;
    font-size: 10px;
    color: white;
}

button {
    background-color: transparent;
    border: none;
    margin: none;
    padding: none;
}

ul {
    padding: 0px;
}


/* HOME PAGE */

#home1 {
    background-image: url("/img/paraw-regatta.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    height: 800px;
}

.transparent-background {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

#home11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 50%;
}

#home11>#title {
    font-weight: 600;
    text-align: center;
    font-size: 80px;
    margin: 0px;
}

#home11>#content {
    text-indent: 10%;
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    max-width: 570px;
}

#home2 {
    background-image: url("/img/festive-walk.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    height: 800px;
}

.transparent-background-left {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 50%;
}

.two-vertical-panels {
    display: flex;
    align-items: center;
    /*justify-content: ;*/
}

#home22 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 100%;
}

#home22>#title {
    font-weight: 600;
    text-align: left;
    font-size: 80px;
    margin: 0px;
    max-width: 90%;
}

#home22>#content {
    text-indent: 10%;
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    max-width: 90%;
}

/* FOOD PAGE */

#food1 {
    background-image: url("/img/food1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.transparent-background-title {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#food11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 100%;
}

#food11>#title {
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    max-width: 100%;
}

#places-and-landmarks1 {
    background-image: url("/img/downtown.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
}

#places-and-landmarks11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 100%;
}

#places-and-landmarks11>#title {
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    max-width: 100%;
}

#culture-and-festivals1 {
    background-image: url("/img/paraw-regatta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
}

#culture-and-festivals11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 100%;
}

#culture-and-festivals11>#title {
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    max-width: 100%;
}

.filter-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    width: 300px;
}

.filter-row>button {
    color: white;
    background-color: #1B1B1B;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

#carousel-body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.carousel {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel>button {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #FFF;
    font-size: 18px;
}

.carousel>button:active {
    transform: scale(1.1);
}

#btn-prev {
    top: 45%;
    left: 2%;
}

#btn-next {
    top: 45%;
    right: 2%;
}

/*----------------------------------------------------
                LOGIN AND REGISTRATION
----------------------------------------------------*/

.uin-background {
    background-image: url("/img/tabucan.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 715px;
}

.uin-transparent-black {
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    height: 40%;
    width: 100%;
}

.uin-center-right>#title,
.uin-center-left>#title {
    font-weight: 800;
    text-align: left;
    font-size: 50px;
    margin: 0px;
    max-width: 100%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=repassword] {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    color: white;
    font-family: sans-serif;
}

input:focus {
    border: 3px solid #b57e07;
}

#uin-one-third-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    height: 100%;
    width: 100%;
}

#uin-one-third-row
{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    height: auto;
    width: 450px;
    border-radius: 10px;
    margin: 10px;
}

#uin-one-third-row>div
{
    padding: 10px;
}

#uin-one-third-row>div>button>img{
    width: 59px; 
    height: 50px;
}

#uin-one-third-row>div>#title {
    font-weight: 600;
    text-align: left;
    font-size: 30px;
    margin: 0px;
}

.center-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.center-buttons>#form-button {
    width: 100%;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    background-color: #b57e07;
    border-radius: 12px;
}

#wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}