/* MAINTENANCE ELEMENTS */

/*{
    border: 1px solid black;
}*/


/* UNIVERSAL ELEMENTS */

a, li{
    text-decoration: none;
}

body{
    margin: 0px;
    /*
    Inverts the color
    filter: invert(1);
    */
}


/* TOP NAVIGATION BAR */

#top-nav-bar {
    background: #1B1B1B;
    border-radius: 0px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 6.5%;
    margin: 0px;
    position: fixed;
    width: 100%;   
}

.top-child{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#menu{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 96px;
}

#menu-btn {
    width: 30px;
    height: 30px;
}


#home{
    display: flex;
    align-items: center;
}

#home-btn {

    width: 112px;
    height: 100%;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;


    color: #FDC28B;
}

#search-bar-input{
    float: left;
    width: 350px;
    height: 30px;
    border-radius: 25px 0px 0px 25px;
}

#search-bar-button{
    float: left;
    border-radius: 0px 25px 25px 0px;
    height: 30px;
    width: 50px;
    align-items: center;
    background-color: grey;

}

input[type=search]{
    padding: 0 15px;
    font-size: 13px;
}

#mode{
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
}

#color-theme {
    width: 45px;
    height: 45px;
    visibility: visible;
    display: inline;
}

#greeting{
    float:left;
    columns:4em;
}

#user{
    float: left;
}

#user-picture {

    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;

}

.font-white{
    font-family: sans-serif;
    font-style: normal;
    color: #EAF4FE;
}

#greeting > .font-white{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
}

.font-peach{
    font-family: sans-serif;
    font-style: normal;
    color: #FDC28B;
}

#greeting > .font-peach{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
}




/* SIDE NAVIGATION BAR */

#side-nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    position: fixed;
    top: 6.5%;
    width: 5%;
    height: 94%;
    visibility: visible;
    background: #1B1B1B;
}


.side-child{
    text-align: center;
    list-style-type: none;
}

.side-child a div p{
    font-family: sans-serif;
    font-style: Arial;
    font-size: 10px;
    color:white;
}

button {
    background-color: transparent;
    border: none;
    margin: none;
    padding: none;
}

ul{
    padding: 0px;
}

a:is(:link, :active, :visited).active{
    color:#FDC28B;
}
