<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- side-nav-bar.ejs -->
    <!-- top-nav-bar.ejs -->
    
    <div class="form-background">
        <div id="form-row">
            <div class="form-center-left">
                <div class="group">
                    <p class="font-peach" id="title">Hi!</p>
                    <p class="font-white" id="content">Change your password!</p>
                </div>
            </div>
            <div class="form-center-right">
                <form action="/change-pass" method="post">
                    <%- include('../partials/change-pass-form'); %>
                </form>
            </div>
        </div>
    </div>
</body>

</html>