<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

        <div id="culture-and-festivals1">
            <div id="culture-and-festivals11">
                <div id="culture-and-festivals111">
                    <p class="font-white" id="title">CULTURE & FESTIVALS</p>
                    <div>
                        <div>
                            <!--<img src="/img/festive-walk.png">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>