
<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
    </body>
</html>