<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

        <div id="food1">
            <div class="transparent-background-title">
                <div id="food11">
                    <p class="font-white" id="title">FOOD</p>
                    <div>
                        <div>
                            <!--<img src="/img/festive-walk.png">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>