<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- side-nav-bar.ejs -->
    <!-- top-nav-bar.ejs -->
    
    <div class="uin-background">
        <div id="row">
            <div class="uin-center-left">
                <div class="group">
                    <p class="font-peach" id="title">Welcome!</p>
                    <p class="font-white" id="content">Login to your account</p>
                </div>
            </div>
            <div class="uin-center-right">
                <form action="/login" method="post">
                    <%- include('../partials/login-form'); %>
                </form>
            </div>
        </div>
    </div>
</body>

</html>