<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>

<head>
    <!-- heads.ejs -->
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- side-nav-bar.ejs -->
    <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>
            <div id="p-a-l-header">
                <div id="transparent-background">
                    <div id="p-a-l-header-group">
                        <p class="font-white" id="second-title">PLACES AND LANDMARKS</p>
                        <p class="font-white" id="content"><span class="font-peach">Get ready to immerse yourself</span>
                             in the enchanting wonders of Iloilo City, as we unveil the most iconic places and landmarks this captivating destination has to offer. This is your gateway to exploring the rich heritage, vibrant culture, and natural beauty of this remarkable city.

                             Whether you're a local looking to rediscover your roots or a visitor seeking authentic experiences, let this be your guide to unlocking the secrets of Iloilo City.

                            Start your journey now and let the magic of Iloilo captivate your senses. 
                        </p>
                    </div>
                </div>
            </div>

            <div id="p-a-l-body">
                <div id="p-a-l-body-group">
                    <div id="body-header">
                        <p class="font-black" id="third-title">Places You Must <span class="font-peach">Visit</span></p>
                        <!-- <div class="filter-row">
                            <p class="font-black">Sort By:</p>
                            <button>Name</button>
                            <button>Date</button>
                        </div> -->
                        <!-- Just a dummy to show -->
                        <div id="wraphorizontal">
                            <!-- fetch-places-h.ejs -->
                            <%- include('../partials/fetch-places-h'); %>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>