<!DOCTYPE html>
<!-- This html document uses EJS -->
<html>
    <head>
        <!-- heads.ejs -->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!-- side-nav-bar.ejs -->
        <%- include('../partials/side-nav-bar'); %>
        <!-- top-nav-bar.ejs -->
        <%- include('../partials/top-nav-bar'); %>

        <div id="places-and-landmarks1">
            <div class="transparent-background-title">
                <div id="places-and-landmarks11">
                    <p class="font-white" id="title">PLACES & LANDMARKS</p>
                    <div class="filter-row">
                        <p class="font-white">Sort By:</p>
                        <button>Name</button>
                        <button>Reviews</button>
                        <button>Date</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>